# VIM temporary files
*~
*.swp

# PyCharms project files
.idea/

# Vagrant files
.vagrant/

# Python files
*.log
*.pot
*.pyc

# Django files
local_settings.py

# Heroku files
staticfiles/

# Build Documentation
docs/_build
