<div class="col-md-3">
    <div class="thumbnail cardstack" style="padding: 0; height:380px; background-color: grey;
    opacity: 0.5; cursor: pointer; position:relative" title="Deck hinzuf&uuml;gen">
            <a href="{% url "deck:deck_new" %}"><span class="clickWholeDiv"></span></a>

            <div style="height:160pt; font-size:160pt; width:100pt;
             line-height:160pt; text-align:center; top:50%; left:50%; margin-left:-50pt; margin-top:-80pt; position:absolute;">
                +
            </div>
    </div>
</div>