{% extends "cardbox/base.html" %}
{% block title %}Tsune - {{ deck.title }}{% endblock %}
{% block content %}
    {% include "cardbox/deck/deck_delete_popup.html" %}
    <div class="row cardstacks" style="margin-top:-15px;">
        <div class="col-md-offset-4 col-md-4">
       {% include "cardbox/deck/deck_single.html" %}
        </div>
    </div>
    <div class="jumbotron" style="height:50px; padding:1px; margin-top:20px; text-align: center">
        <a href="{% url 'deck:deck_list' %}"
           class="btn btn-primary" style="z-index: 2">Zur&uuml;ck</a>
    </div>

{% endblock %}