{% extends "cardbox/base.html" %}
{% load guardian_tags %}
{% block title %}Tsune - Kartenliste{% endblock %}
{% block content %}
    {% include "cardbox/deck/deck_delete_popup.html" %}
    <div class="row cardstacks" style="margin-top:-15px;">
        {% if object_list %}
            {% for deck in object_list %}
                {% get_obj_perms user for deck as "deck_perms" %}
                <div class="col-md-3">
                {% include "cardbox/deck/deck_single.html" %}
                </div>

                {% if forloop.last %}
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row" style="margin-top: 20px">
                            {% include "cardbox/deck/deck_newdeckdiv.html" %}
                        </div>
                    {% else %}
                        {% include "cardbox/deck/deck_newdeckdiv.html" %}
                    {% endif %}
                {% else %}
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row" style="margin-top: 20px">
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="row">
                {% include "cardbox/deck/deck_newdeckdiv.html" %}
            </div>
        {% endif %}
        </div>
{% endblock %}
