<div class="btn-group">

                                        {% if "view_deck" in deck_perms %}
                                        <a href="{% url 'card:card_new' deck.ID %}"
                                           class="btn btn-default" style="z-index:2" title="Karte hinzuf&uuml;gen">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                        {% endif %}
                                        {% if "change_deck" in deck_perms %}
                                        <a href="{% url 'deck:deck_edit' deck.ID %}"
                                           class="btn btn-default" style="z-index:2" title="Deck bearbeiten">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        {% endif %}
                                        {% if "delete_deck" in deck_perms %}
                                        <a class="btn btn-default"
                                           onclick="show_delete_popup('{% url 'deck:deck_delete' deck.ID %}')"
                                           class="btn btn-primary" style="z-index:2" title="Deck l&ouml;schen">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        {% endif %}
                                    </div>