{% extends "cardbox/base.html" %}
{% block title %}Tsune - Kartenliste{% endblock %}
{% block content %}
    {% include "cardbox/deck/deck_delete_popup.html" %}
    <div class="row cardstacks" style="margin-top:-15px;">
        {% if object_list %}
            {% for deck in object_list %}

                <div class="col-md-3 wordwrap">
                    <div class="thumbnail  cardstack" style="padding: 0">
                        <div class="caption">
                            <h2><a href="{% url 'deck:deck_detail' deck.ID %}">{{ deck.title  }}</a></h2>
                            <p>{{ deck.description }}</p>
                            <div class="row" style="text-align:center">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" style="z-index: 2"
                                       href="#">Lernen</a>
                                    <a class="btn btn-primary" style="z-index: 2"
                                       href="{% url 'card:card_list' deck.ID %}">Karten anzeigen</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: left">
                            <div class="progress">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>PRIVATE</b><br>
                                    <small>SHARED</small>
                                </div>
                                <div class="col-md-4">
                                    <b>0</b><br>
                                    <small>DUE</small>
                                </div>
                                <div class="col-md-4">
                                    <b>{{ deck.get_total_cards }}</b><br>
                                    <small>TOTAL</small>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>BY:</b>
                                </div>
                                <div class="col-md-8">
                                    <small><a style="z-index: 2" href="#">YOURSELF</a></small>
                                </div>
                            </div>
                            <p></p>
                            <div class="row" style="text-align: center;">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <a class="btn btn-default"
                                           onclick="show_delete_popup('{% url 'deck:deck_delete' deck.ID %}')"
                                           class="btn btn-primary" style="z-index:2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a href="{% url 'deck:deck_edit' deck.ID %}"
                                           class="btn btn-default" style="z-index:2">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.last %}
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row" style="margin-top: 20px">
                            {% include "cardbox/deck/deck_newdeckdiv.html" %}
                        </div>
                    {% else %}
                        {% include "cardbox/deck/deck_newdeckdiv.html" %}
                    {% endif %}
                {% else %}
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row" style="margin-top: 20px">
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}