
.pic
{
     margin-top:50px;
     width:120px;
     margin-left:50px;
     margin-bottom:-60px;
}

.grouppic
{
     margin-top:20px;
     width:80px;
     margin-left:20px;
}


.panel-cover
{
   background-image:url( "banner.jpg" ); background-repeat:no-repeat; background-position: right;
}

.name
{
    position:absolute;
    padding-left:200px;
    font-size:30px;
}

.change
{
 position:relative;
 bottom:20px;
 padding:1px;
 color:white;
 text-decoration:none;
}


.change:hover
{
 text-decoration:none;
 background-color:black;
 color:white;
}

.btnp
{
    margin-bottom: 5px;
}

hr
{
border-width: medium;
}

.sum
{
    text-align: center;
    border-right: 2px solid #7b7b7b;
    font-size: 15px;
    font-weight: bolder;
}


.info
{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.top
{
    margin-top: 15px;
}

tr
{
    height: 50px;
}

td
{
    padding-left: 10px;
}