{% extends "base.html" %}
{% load staticfiles %}
{% load inplace_edit %}
{% block head %}
    <link rel="stylesheet" href="{% static "profiles_base.css" %}">
{% inplace_static %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row well">
            <div class="panel">
               <img class="pic img-circle" src="{{ object.image_url }}" alt="..." >
               <div class="name"><small>{% inplace_edit "object.nickname" %}</small></div>
               <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
            </div>

            <br><br><br>

            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#inbox" data-toggle="tab"> Über mich</a></li>
              <li><a href="#sent" data-toggle="tab"> Auszeichnungen</a></li>
              <li><a href="#assignment" data-toggle="tab">meine Gruppen </a></li>
              <li><a href="#event" data-toggle="tab"> Duelle</a></li>
            </ul>

            <br>

            <div class="row">
                    <div class="col-md-12" style="text-align: center;" > Progress-bar </div>
            </div>
            <table>
                <tr>
                    <td>Nickname:</td>
                    <td>{% inplace_edit "object.nickname" %}</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>{{ object.user.email }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{% inplace_edit "object.description" adaptor="markitup" %}</td>
                </tr>
                <tr>
                    <td>Bild-URL:</td>
                    <td>{% inplace_edit "object.image_url" %}</td>
                </tr>
            </table>
        </div>
    </div>


<!--

<div class="container">
	<div class="row well">
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                    <div class="name"><small>{% inplace_edit "object.nickname" %}</small></div>
                    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
                </div>

    <br><br><br>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#inbox" data-toggle="tab"><i class="fa fa-envelope-o"></i> Inbox</a></li>
      <li><a href="#sent" data-toggle="tab"><i class="fa fa-reply-all"></i> Sent</a></li>
      <li><a href="#assignment" data-toggle="tab"><i class="fa fa-file-text-o"></i> Assignment</a></li>
      <li><a href="#event" data-toggle="tab"><i class="fa fa-clock-o"></i> Event</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
        <a type="button" data-toggle="collapse" data-target="#a1">
            <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
              <div class="btn-group"><input type="checkbox"></div>
              <div class="btn-group col-md-3">Admin Kumar</div>
              <div class="btn-group col-md-8"><b>Hi Check this new Bootstrap plugin</b> <div class="pull-right"><i class="glyphicon glyphicon-time"></i> 12:10 PM <button class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-share-square-o"> Reply</i></button></div> </div>
            </div>
        </a>
        <div id="a1" class="collapse out well">This is the message body1</div>
        <br>
        <button class="btn btn-primary btn-xs"><i class="fa fa-check-square-o"></i> Delete Checked Item's</button>
      </div>


      <div class="tab-pane" id="sent">
            <a type="button" data-toggle="collapse" data-target="#s1">
            <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
              <div class="btn-group"><input type="checkbox"></div>
              <div class="btn-group col-md-3">Kumar</div>
              <div class="btn-group col-md-8"><b>This is reply from Bootstrap plugin</b> <div class="pull-right"><i class="glyphicon glyphicon-time"></i> 12:30 AM</div> </div>
            </div>
        </a>
        <div id="s1" class="collapse out well">This is the message body1</div>
        <br>
        <button class="btn btn-primary btn-xs"><i class="fa fa-check-square-o"></i> Delete Checked Item's</button>
      </div>


     <div class="tab-pane" id="assignment">
        <a href=""><div class="well well-sm" style="margin:0px;">Open GL Assignments <span class="pull-right"><i class="glyphicon glyphicon-time"></i> 12:20 AM 20 Dec 2014 </span></div></a>
     </div>
</div>
</div>

-->


{% endblock %}

