<!doctype html>
<html>
  {% load staticfiles %}
  <head>
    <title>{% block title %}Tsune{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "tsune_base.css" %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  
  <body>
  <div class="container">
  {% block nav %}
    <nav class="navbar" role="navigation">
      <ul class="nav navbar-nav navbar-default navbar-right">
        <li><a href="{% url 'deck:deck_list' %}"><span class="glyphicon glyphicon-th"></span> Deine Decks</a></li>
        <li>
          <a href="#" id="settingsPop"><span class="glyphicon glyphicon-cog"></span> Einstellungen</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktionen<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://tsune.readthedocs.org" target="_blank">Dokumentation</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>

