{% extends "cardbox/card/card_detail.html" %}
{% load staticfiles %}
{% block head %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$']]}
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
    <script type="text/javascript" src="{% static "learning/js/show_answer.js" %}"></script>
    <style type="text/css">
        #answer, #rating {
            display: none;
        }

        .small-margin {

        }
    </style>
{% endblock %}
{% block delete %}
{% endblock %}
{% block buttons %}
    {% include "learning/learn_rating_buttons.html" %}
{% endblock %}