{% extends "cardbox/base.html" %}
{% block title %}Tsune - Kartenliste{% endblock %}
{% block content %}
    {% include "cardbox/card/card_delete_popup.html" %}
    <h1 style="color:lightgray;"><span style="text-rendering: auto; font-variant: small-caps;">{{ deck.title }}</span></h1>
    {% if object_list %}
        <div class="row">
            {% for card in object_list %}
            {% include "cardbox/card/card_single.html" %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix visible-md"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix visible-lg"></div>
                {% endif %}
            {% endfor %}
    {% endif %}
            {% include "cardbox/card/card_newcarddiv.html" %}
        </div>
{% endblock %}