{% extends "cardbox/base.html" %}
{% block title %}Tsune - Karte {{ action }}{% endblock %}
{% block head %}
  {{ form.media }}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                {% if form.errors %}
                            <div class="alert alert-danger alert-dismissable">
                               <button type="button" class="close" data-dismiss="alert">&times;</button>
                               <b>Fehler!</b>
                            </div>
                {% endif %}
                <form method="post">{% csrf_token %}
                    <h2 class="card-h2">Karte {{ action }}</h2>

                    <div class="form-group">
                        <label class="form-label">Vorderseite</label></br>
                        {{ form.front }}
                        <label class="form-label">R&uuml;ckseite</label>

                        <div class="controls"></div>
                        {{ form.back }}
                        <input type="hidden" id="id_deck" name="deck" value="{{ deck_id }}">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-primary" href="{% url "card:card_list" deck_id %}">Abbrechen</a>
                        </div>
                        <div class="col-md-offset-4 col-md-4" style="text-align:right">
                                <input type="submit" onclick="this.disabled=true,this.form.submit();" value="{{ button_text }}" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}