{% load staticfiles %}
<script type="text/javascript" src="{% static "cardbox/js/show_delete_popup.js" %}"></script>
<div id="delete_popup"
     style="position:absolute; top:50%; margin-top:-125px; left:50%; margin-left:-300px;z-index:3; display:none; ">

    <div class="jumbotron" style="width:600px; height:250px; border:3px solid black;">
        <h1>Karte l&ouml;schen? </h1>

        <div class="row" style="text-align:center">


            <div class="col-md-4">
                <form id="delete_popup_form" method="POST" action="#">
                    {% csrf_token %}
                    <button type="submit" value="DELETE" class="btn btn-primary">Löschen
                    </button>
                </form>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-primary" onclick="hide_delete_popup()">Abbrechen</a>
            </div>
        </div>
    </div>
</div>